@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500&display=swap');

:root{
    --lightblue:#5f8fd3;
    --dblue: #043374;
    --deepblue:#0e1b50;
    --grey: #a7a9b6;
    --darkgrey: #4c4c4c;

    --lightskyblue: #f3f8ff;
}

.fw-littlebold{
    font-weight: 500;
}

body{
    font-size: 16px;
    font-family: 'Fira Sans', sans-serif;
    color: var(--dblue);

    padding: 0;
    margin: 0;
}
/* Start Header Section */
.headerintros{
    padding: 10px 0;
    border-bottom: 1.5px solid #bbb;

    display: flex;
    justify-content: space-between;
}
.headerintros.con,.navbar.con{
    width: 93%;
    margin: auto;
}

@media(max-width: 575px){
    .headerintros{
        display: none;
    }
}

/* Start nav bar  */
.fquotebar{
    /* position: relative; */

    display: grid;
    place-items: center;
}
.nav-link{
    font-size: 17px;
    font-weight: 500;
    color: var(--dblue);
}

.quote{
    display: flex;
}

.callqs{
    display: flex;
}
.callqs .fas{
    font-size: 30px;
}

.callqs span{
    color: var(--grey);
}

.quote{
    float: right;

    position: absolute;
    right: 4%;
    bottom: 13%;
}

.buttcol{
    width: 100%;
    background-color: var(--darkgrey);


    position: absolute;
    left: 0;
    top: 100%;
}
.buttcol span{
    background-color: #222;
    color: #fff;
    padding: 2px 8px;
    
    /* position: absolute;
    left: 0;
    top: 0; */
}

@media(max-width: 1200px){
    .quote button{
        display: none;
    }
}
@media(max-width: 575px){
    .callqs{
        display: none;
    }
}
/* End nav bar */

/* Start Banner */
.banners{
    height: 100vh;
    background-image: url('./assets/img/people.PNG');
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
}

.bars{
    width: 100px;
    height: 3px;
    background-color: #fff;
}

.banners p{
    font-weight: 400;
}

.btn-style{
    font-size: 19px;
    font-weight: 500;
    color: #fff;
    padding: 10px 25px;
    border: 2px solid #fff;

    position: relative;
    z-index: 3;

    transition: border-color .5s;
    overflow: hidden;
}

.btn-style::before,.btn-fullblues::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--lightblue);
    transform: translateX(-100%);

    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;

    transition: all .5s;
}
.btn-style:hover::before,.btn-fullblues:hover::before{
    transform: translateX(0%);
}
.banners .btn:hover{
    border-color: var(--dblue);
}

.frombot{
    animation-name: mybanner;
    animation-duration: 2s;
}
.frombotbtn{
    animation-name: mybanner;
    animation-duration: 2s;
    animation-delay: .8s;
    animation-fill-mode: backwards;
}

@keyframes mybanner{
    from{
        transform: translateY(100%);
        opacity: 0;
    }
    to{
        transform: translateY(0%);
        opacity: 1;
    }
}

/* End Banner */
/* End Header Section */

/* Start Satisfaction Section */
.satis{
    color: #fff;
    background-color: var(--deepblue);
    padding: 30px;
}

.lbtn{
    display: flex;
    align-items: center;
}
.btn-blues{
    color: #fff;
    border: 2px solid #fff;
}
.btn-blues:hover{
    background-color: var(--lightblue);
    border-color: var(--lightblue);
}
/* End Satisfaction Section */

/* Start Industry Section */
.minititles{
    color: blue;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.industrytitle > p:last-child{
    color: #333;
    font-size: large;
    font-weight: 400;
}

.findouts a{
    text-decoration: none;
    opacity: 0;

    transition: opacity .5s;
}

.industry-items{
    text-align: center;
    padding: 50px;
    margin: auto;

    position: relative;
    z-index: 2;

    overflow: hidden;
    transition: box-shadow .5s;
}

.industry-items::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--lightskyblue);
    
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.industry-items::after{
    content: '';
    width: 100%;
    height: 100%;
    background-color: #fff;
    transform: translateY(100%);
    transform-origin: bottom;

    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;

    transition: all .5s;
}
.industry-items:hover::after{
    background-color: #fff;
    transform: translateY(0);

}
.industry-items:hover .findouts a{
    opacity: 1;
}
.industry-items:hover{
    box-shadow: 5px 12px 30px #ccc;
}
/* End Industry Section */

/* Start AboutUs section */

.psmallfonts{
    font-size: 17px;
}

.btn-fullblues{
    background-color: #2a69bf;
    color: #fff;
    padding: 10px 25px;
    border: none;

    position: relative;
    z-index: 3;

    overflow: hidden;
}
.btn-fullblues:hover{
    color: #fff;
    background-color: #2a69bf;
    border:none;
}
/* End AboutUs Section */

/* Start Services Section */
.services{
    background-color: var(--lightskyblue);
    padding: 80px;

}
.card{
    border: none;

}
/* End Services Section */

/* Start Partnership Section */
.partnertxts{
    padding: 70px;
    background-color: var(--dblue);
}
.partnertxts h6{
    font-size: 17px;
    font-weight: 400;
}
.partnerimgs{
    padding: 0;
}

.bordersliders{
    border-bottom: 1px solid #a0b3cc;
}
/* End Partnership Section */

/* Start testimonial Section */
.feedbacks{
    background-color: var(--lightskyblue);
}

.testfbs{
    background-color: #fff;
    padding: 35px 20px;
}

.stars{
    color: #316ec2;
    padding: 20px 0;
}
.testfbs p{
    color: #4c4c4c;
    font-size: 17px;
    font-weight: 500;
    padding: 10px 0;
}
.testfbs small{
    font-weight: 500;
}
/* End Testimonial Section */

/* Start Adv Section */
.advs{
    background-color: var(--dblue);
    padding: 80px 0;
}

/* End Adv Section */

/* Start Footer Section */

.footers{
    padding: 70px 0 20px 20px;
    
}
.btn-group{
    width: 100%;
}
.btn-group input{
    width: 80%;
    padding: 10px 15px;
    border: 1px solid #ccc;
}
.btn-group .btn{
    border-radius: 0 3px 3px 0;
}

.footer-links{
    color: #5f5b5b;
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 15px;

    display: block;
}
.footer-links:hover{
    color: inherit;
    text-decoration: underline;
}

.fbicon,.yticon,.linicon,.instraicon{
    background-color: var(--dblue);
    color: #fff;
    display: inline;
    padding: 8px 11px;
    margin-right: 10px;
    border-radius: 50%;

    cursor: pointer;

    float: left;
}
.yticon{
    background-color: red;
}
.linicon{
    background-color: var(--lightblue);
}

.contacts{
    padding-bottom: 20px;
    border-bottom: 1px solid #a0b3cc;
}

/* .socialicons i::before{
    content: '';
    transform: translateX(0deg);

    position: absolute;
    left: 0;
    top: 0;
}
.socialicons i:hover::before{
    transform: translateX(360deg);
} */

.socialicons .fbicon::before{
    content: '';
    transform: rotateX(0deg);

    position: absolute;
    left: 0;
    top: 0;

    transition: all .5s;
}

.socialicons .fbicon:hover::before{
    transform: rotateX(1turn);
}

/* End Footer Section */


/* Start animation backtotop */
 .arrowup{
    background-color: var(--lightblue);
    color: #fff;
    font-size: 40px;
    border-radius: 50%;
    transform: rotate(-10deg);

    padding: 0 18px;
    
    position: fixed;
    left: 94%;
    bottom: 2%;

}

.arrowup a{
    color: #fff;
}
/* .arrowup::before{
    content: "\f106";
    width: 100%;
    height: 100%;
    font-size: 35px;
    font-family: "Font Awesome 5 Pro";

    position: absolute;
    left: 30%;
    top: -8%;
    
}

.arrowup::after{
    content: "\f106";
    width: 100%;
    height: 100%;
    font-size: 35px;
    font-family: "Font Awesome 5 Pro";

    position: absolute;
    left: 33%;
    top: 27%;
    
}  */
/*
.arrowup i{
    animation-name: myanitop;
    animation-duration: 1s;*/
    /* animation-timing-function: ease-in-out; */
    /* animation-iteration-count: infinite;
}
.arrowup i::before{
    animation-name: myanitop;
    animation-duration: 1s; */
    /* animation-timing-function: ease-in-out; */
    /* animation-iteration-count: infinite;
}
.arrowup i::after{
    animation-name: myanitop;
    animation-duration: 1s; */
    /* animation-timing-function: ease-in-out; */
    /* animation-iteration-count: infinite;
}

@keyframes myanitop{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        opacity: 1
    }
    100%{
        transform: translateY(-10%);
        opacity: 0;
    }

} */
/* End animation backtotop */
